@model RandomQuote.Models.Quote
<h1>Welcome to Home page</h1>

<p>This is just simply home page </p>
<p>Check out our <a asp-controller="Home" asp-action="OtherPage">Other Page</a> </p>
<p><b>A quote to share...</b></p>
<p>@Model.Text</p>
<b><p> By @Model.Author</p></b>
